<div class="container">
  <h1>Conversor de moeda</h1>

  <div class="option-container">
    <input [(ngModel)]="opcaoEscolhida" type="radio" name="moeda" value="BRL-USD">
    <span>Real para Dólar</span>
  </div>

  <div class="input-container">
    <span>Valor</span>
    <input [(ngModel)]="valor" type="number">
    <button (click)="calcularConversao()">Calcular</button>
  </div>

  <div class="result-container">
    <span>Resultado</span>
    <input [(ngModel)]="resultado" type="number" disabled>
  </div>

</div>
